@model PennyTechManagementSystem.Models.HomeModel

@{
    ViewBag.Title = "EmployeeSupplementsDashboard";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";
}

<h1>Employee Supplements Dashboard</h1>
