@model PennyTechManagementSystem.Models.HomeModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="social-box linkedin">
        <i class="title-box">Fleet</i>
        <div class="chart-wrapper">
            <canvas height="90">Fleet</canvas>
        </div>
        <ul>
            <li>
            <strong>127</strong>
            <span>Total</span>
            </li>
            <li>
            <strong>283</strong>
            <span>Idle</span>
            </li>
        </ul>
        </div>
        <!--/.social-box-->
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
        <div class="social-box linkedin">
        <i class="title-box">Drivers</i>
        <div class="chart-wrapper">
            <canvas id="social-box-chart-2" height="90"></canvas>
        </div>
        <ul>
            <li>
            <strong>115</strong>
            <span>Total</span>
            </li>
            <li>
            <strong>23</strong>
            <span>Idle</span>
            </li>
        </ul>
        </div>
        <!--/.social-box-->
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">

        <div class="social-box linkedin">
        <i class="title-box">Emp.</i>
        <div class="chart-wrapper">
            <canvas id="social-box-chart-3" height="90"></canvas>
        </div>
        <ul>
            <li>
            <strong>56</strong>
            <span>Total</span>
            </li>
            <li>
            <strong>48</strong>
            <span>Present</span>
            </li>
        </ul>
        </div>
        <!--/.social-box-->
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
        <div class="social-box google-plus">
        <i class="title-box">Portal</i>
        <div class="chart-wrapper">
            <canvas id="social-box-chart-4" height="90"></canvas>
        </div>
        <ul>
            <li>
            <strong>38</strong>
            <span>Online User</span>
            </li>
            <li>
            <strong>92</strong>
            <span>circles</span>
            </li>
        </ul>
        </div>
        <!--/.social-box-->
    </div>
<!--/.col-->
</div>
